/* adjust the styling of native slack classes when messages are turned off */

/* remove sidebar */
.p-channel_sidebar__list { 
    visibility: hidden; 
}

/* remove message alert badges */
.c-mention_badge { 
    display: none; 
}

/* remove unread message dot */
.p-unread_dot { 
    display: none; 
}

/* add opacity to workspace */
.p-view_contents--primary, .p-view_contents--secondary { 
    opacity: 0.2; 
    transition: opacity 1.0s; 
}

/* remove opacity when user hovers over workspace */
.p-view_contents--primary:hover, .p-view_contents--secondary:hover, .p-view_contents--primary:hover ~ .p-view_contents--secondary {
    opacity: 1.0; 
    transition: opacity 1.0s; 
}

/* fade top nav and sidebar color to black */
.p-top_nav, .p-ia__sidebar_header, .p-channel_sidebar, .p-top_nav__search { 
    background-color: black; 
    transition: background-color 2.0s; 
}

/* adjust hover color of search bar and top sidebar button so it's distinct from the black background */
.p-ia__sidebar_header--top-nav:not(.p-ia__sidebar_header--creator-setup):hover, .p-top_nav__search:hover {
    background-color: #171617; 
    transition: none; 
}