/* style the toggle button */
#hider__message-toggle-button {
    font-weight: 900;
    color: white;
    font-size: 15px;
    font-style: Slack-Lato;
}

.hider__toggle-button-container {
    margin-right: auto;
    display: flex;          
    align-items: center;    /* vertically center the button text */
    justify-content: center; /* horizontally center the button text */
}