/* stlye the "show messages" button created by the extension */
/* later: see if i can do this without using "!important" */
.message-toggle-button {
    margin: 20px 0 2px 16px !important;
    font-weight: 900 !important;
    color: white !important;
    font-size: 15px !important;
    font-style: Slack-Lato !important;
}